extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href=('/'))= "< Norrlandsordern"
  .restrict-width
    form.m-4.mb-5(method='GET', action='/search')
      input.form-control.mb-2(type='text', name='t', value=term)
      input#search-bar.form-control(type='submit', value='Sök')
    .card.m-4.mb-5
      h5.card-title.pt-2.ml-4 Resultat
      ul.list-group
        each user in users
          li.list-group-item
            a.user-link(href=`/users/${user.id}`)= user.name
            span.text-secondary= ` (${user.username})`


