.background {
  background-image: linear-gradient(#CBA051, #FFF);
  width: 100%;
  height: 360px;
}

.logo {
  display: block;
  width: 300px;
  margin: 0 auto;
  padding-top: 80px;
}

.restrict-width {
  margin: 0 auto;
  max-width: 600px;
}

.banner {
  background-image: url(/images/background.png);
  background-position: center center;
  background-size: auto 300px;
  width: 100%;
  height: 300px;
  margin-top: -100px;
}

.white {
  color: white;
}

.red {
  color: #BE162F;
}

.blue {
  color: #0A243E;
}

.subheader {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 80%;
}

#map-status {
  width: 100%;
  height: 250px;
}

.signin {
  background-color: #0A243E;
  margin-top: -32px;
}

.vision {
  background-color: #dcbf8a;
}

.approach {
  background-color: #0A243E;
}

#login-form {
  max-width: 440px;
}

.card img {
  display: block;
  margin: 16px auto;
  width: 50%;
}

.log-table .bi-pencil-square {
  font-size: 1.5em;
}

.log-table th {
  vertical-align: middle;
}

.log-table th:last-child {
  text-align: center;
}

#status {
  -webkit-animation: cssAnimation 5s forwards;
  animation: cssAnimation 5s forwards;
}
@keyframes cssAnimation {
    0%   {opacity: 1;}
    50%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    50%  {opacity: 1;}
    100% {opacity: 0;}
}

.borderless td, .borderless th {
    border: none;
}

@media screen and (min-width: 600px) {
  #map-status {
    height: 400px;
  }
}